.DS_Store
node_modules
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log
# 测试文件
tests/**/coverage
tests/e2e/reports
selenium-debug.log

# 编辑器相关文件
.idea
.vscode
# 包版本锁文件
package-lock.json
yarn.lock
