@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

// 全局main-container容器样式
.app-container {
  padding: 20px;
}

/* 滚动条处理 */
.el-scrollbar__wrap {
  overflow-x: hidden;
}

/**修改全局的滚动条*/
/**滚动条的宽度*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/*滚动条的滑块*/
::-webkit-scrollbar-thumb {
  background-color: rgba(138, 147, 153, 0.3);
  border-radius: 3px;
}

// 根样式
.root-container {
  width: 100%;
}

// 搜索框
.search-card {
  margin: 5px;
}

// 操作框
.tool-bar {
  margin-bottom: 15px;
  margin-left: 5px;
}

// 表格框
.table-card {
  margin: 10px 5px;
}

// 重写分页
.el-pagination {
  float: right;
  margin: 20px 10px;
}

// 模态框
.el-dialog {
  border-radius: 10px;
}
